<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border = "1">
    <caption>Prognoz</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Trend</th>
    </tr>
    </thead>
{{#ststistica}}
    <tr>
        <td>{{value_prognoz}}</td>
        <td>{{date}}</td>
    </tr>
{{/ststistica}}
</table>
</body>
</html>