<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post" >
        <input type="text" name="fuel" placeholder="fuel" />
        <button type="submit">add</button>
    </form>
</div>
<table border = "1">
    <caption>Prognoz</caption>
    <thead>
    <tr>
        <th>name_city</th>
        <th>value_stat</th>
    </tr>
    </thead>
    {{#cd}}
        <tr>
            <td>{{name_city}}</td>
            <td>{{value_stat}}</td>
        </tr>
    {{/cd}}
</table>
</body>
</html>